<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
        .boder-class{
            border-radius: 10px;
            border: 2px solid skyblue;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field boder-class" style="margin-top: 50px;">

    </fieldset>
</div>

<script th:inline="none">
    layui.use( 'layer', function(){
        var $=layui.$
            ,layer=layui.layer;

    });
</script>

</body>
</html>