<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
    </style>
</head>
<body scroll="no">
<div style="margin-left:50px;">
    <fieldset class="layui-elem-field" style="margin-top: 20px;">
        <legend>学院信息</legend>
        <div class="layui-inline">
            <select name="selType" lay-verify="selected" id="acaSelect" class="layui-select">
                <option value="">请选择查询选项</option>
                <option value="0">学院编号</option>
                <option value="1">学院名称</option>
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="selVal" id="acaInput" autocomplete="off">
        </div>
        <button class="layui-btn" id="acaSearch">搜索</button>
        <table class="layui-hide" id="AcaTable" lay-filter="AcaTable"></table>
    </fieldset>
    <hr class="layui-bg-blue">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>专业信息</legend>
        <div class="layui-inline">
            <select name="selType" lay-verify="selected" id="proSelect" class="layui-select">
                <option value="">请选择查询选项</option>
                <option value="0">专业编号</option>
                <option value="1">专业名称</option>
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="selVal" id="proInput" autocomplete="off">
        </div>
        <button class="layui-btn" id="proSearch">搜索</button>
        <table class="layui-hide" id="ProTable" lay-filter="ProTable"></table>
    </fieldset>
    <hr class="layui-bg-green">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>班级信息</legend>
        <div class="layui-inline">
            <select name="selType" lay-verify="selected" id="classSelect" class="layui-select">
                <option value="">请选择查询选项</option>
                <option value="0">班级编号</option>
                <option value="1">班级名称</option>
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="selVal" id="classInput" autocomplete="off">
        </div>
        <button class="layui-btn" id="classSearch">搜索</button>
        <table class="layui-hide" id="ClassTable" lay-filter="ClassTable"></table>
    </fieldset>
</div>

<div  class="layui-form" id="acaPop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">学院编号</label>
            <div class="layui-input-block">
                <input type="text" name="acaId" id="acaId" placeholder="请输入。。。" lay-verify="required|number"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学院名称</label>
            <div class="layui-input-block">
                <input type="text" name="acaName" id="acaName" placeholder="请输入。。。"  lay-verify="required" class="layui-input">
            </div>
        </div>
    </form>
</div>


<div  class="layui-form" id="proPop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select id="aca_select_pro"  name="stuAcaId" lay-filter="aca_select_pro">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业编号</label>
            <div class="layui-input-block">
                <input type="text" name="professionId" id="professionId" placeholder="请输入。。。" lay-verify="required|number"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业名称</label>
            <div class="layui-input-block">
                <input type="text" name="professionName" id="professionName" placeholder="请输入。。。"  lay-verify="required" class="layui-input">
            </div>
        </div>
    </form>
</div>


<div  class="layui-form" id="classPop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select id="aca_select_class"  name="aca_select_class" lay-filter="aca_select_class">
                    <option value="">----请选择----</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属专业</label>
            <div class="layui-input-block">
                <select id="pro_select_class"  name="pro_select_class" lay-filter="pro_select_class">
                    <option value="">----请选择----</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级编号</label>
            <div class="layui-input-block">
                <input type="text" name="cId" id="cId" placeholder="请输入。。。" lay-verify="required|number"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级名称</label>
            <div class="layui-input-block">
                <input type="text" name="cName" id="cName" placeholder="请输入。。。"  lay-verify="required" class="layui-input">
            </div>
        </div>
    </form>
</div>
    <script th:inline="none">
        layui.use(['table', 'layer','form'], function(){
            var table = layui.table
                ,$=layui.$
                ,layer=layui.layer
                ,form=layui.form;

            //第一个实例
            var acaTable = table.render({
                elem: '#AcaTable'
                ,height: 300
                ,width:650
                ,skin:'row'
                ,even:true
                ,toolbar:'#toolbar'
                ,url: '/admin/selectAcaInfo' //数据接口
                ,where:{
                    type:0
                }
                , loading: true
                , text:{none:'没有查到更多数据～'}
                ,page: true //开启分页
                ,id:'acaTable'
                ,cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'acaId', title: '学院编号', width:222,align:'center'}
                    ,{field: 'acaName', title: '学院名称', width:223,align:'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
                ]]
            });

            $("#acaSearch").on('click',function () {
                acaTable.reload({
                    url:'/admin/selectAcaInfo',
                    where:{
                        type:0,
                        selType:$("#acaSelect").val(),
                        selVal:$("#acaInput").val()
                    },
                    page:{
                        curr:1
                    }
                })
            });

            table.on('toolbar(AcaTable)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        var ids="";
                        var names="";
                        $.each(data,function(){
                            ids+=this.acaId+",";
                            names+=this.acaName+",";
                        });
                        ids=ids.substring(0,ids.length-1);
                        names=names.substring(0,names.length-1);
                        if(ids==''){
                            layer.msg("请选择要删除的用户！");
                        }else{
                            layer.confirm('确定要删除【'+names+'】的信息吗？', {
                                btn: ['确定','不了，不了'] //按钮
                            }, function(){
                                $.ajax({
                                    url:'${APP_PATH}/admin/students/delStudent?ids='+ids,
                                    type:'GET',
                                    success:function(result){
                                        layer.msg(result.msg,function(){
                                            location.reload();
                                        });
                                    }
                                });
                            }, function(){
                                layer.msg('你考虑好再来');
                            });
                        };
                        //layer.alert(JSON.stringify(data));
                        break;
                    case 'addInfo':
                        layer.open({
                            type:1,
                            skin:"layui-layer-molv",
                            title:"学院信息添加",
                            anim: 1,
                            area:['300px','250px'],
                            content:$("#acaPop"),
                            btn:['提交','取消'],
                            yes:function (index, layero) {
                                var regId = new RegExp("^\\d{5,10}$");
                                var regName = new RegExp("^[0-9]*$");
                                var acaId = $("#acaId").val();
                                var acaName = $("#acaName").val();
                                if(acaId==null||acaId==''){layer.msg("学院编号不能为空",{icon:5});return;}
                                if(!regId.test(acaId)) {
                                    layer.msg("学院编号必须是5-10位数字！",{icon: 5});
                                    return;
                                }
                                if(acaName==null||acaName==''){layer.msg("学院名称不能为空",{icon:5});return;}
                                if(regName.test(acaName)) {
                                    layer.msg("学院名称不能为数字！",{icon: 5});
                                    return;
                                }
                                $.ajax({
                                    url:'/admin/addAcaAnaProAndClassInfo'
                                    ,data:{
                                        acaId:acaId,
                                        acaName:acaName,
                                        type:0
                                    }
                                    ,type:'post'
                                    ,success:function (res) {
                                      console.log(res);
                                          if(res.code==401||res.code==400){
                                              layer.msg(res.msg,{icon: 5})
                                                return;
                                          }else {
                                              layer.msg(res.data,function(){
                                                  location.reload();
                                              });
                                          }

                                    }
                                });

                            },
                            end:function () {
                                window.location.reload();
                            }
                        });
                        break;
                };
            });

            //第一个实例
            var proTable = table.render({
                elem: '#ProTable'
                ,height: 300
                ,width:650
                ,skin:'row'
                ,even:true
                ,url: '/admin/selectAcaInfo' //数据接口
                ,where:{
                    type:1
                }
                , loading: true
                ,toolbar:'#toolbar'
                , text:{none:'没有查到更多数据～'}
                ,page: true //开启分页
                ,cols: [[ //表头
                    {type:'checkbox', fixed: 'left'}
                    ,{field: 'professionId', title: '专业编号', width:120,align:'center'}
                    ,{field: 'professionName', title: '专业名称', width: 170,align:'center'}
                    ,{field: 'acaName', title: '所属学院', width:155, align:'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
                ]]
            });

            $("#proSearch").on('click',function () {
                proTable.reload({
                    url:'/admin/selectAcaInfo',
                    where:{
                        type:1,
                        selType:$("#proSelect").val(),
                        selVal:$("#proInput").val()
                    },
                    page:{
                        curr:1
                    }
                })
            });
            table.on('toolbar(ProTable)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        var ids="";
                        var names="";
                        $.each(data,function(){
                            ids+=this.professionId+",";
                            names+=this.professionName+",";
                        });
                        ids=ids.substring(0,ids.length-1);
                        names=names.substring(0,names.length-1);
                        if(ids==''){
                            layer.msg("请选择要删除的用户！");
                        }else{
                            layer.confirm('确定要删除【'+names+'】的信息吗？', {
                                btn: ['确定','不了，不了'] //按钮
                            }, function(){
                                $.ajax({
                                    url:'${APP_PATH}/admin/students/delStudent?ids='+ids,
                                    type:'GET',
                                    success:function(result){
                                        layer.msg(result.msg,function(){
                                            location.reload();
                                        });
                                    }
                                });
                            }, function(){
                                layer.msg('你考虑好再来');
                            });
                        };
                        break;
                    case 'addInfo':
                        getAcademys("#aca_select_pro",0);
                        layer.open({
                            type:1,
                            skin:"layui-layer-molv",
                            title:"专业信息添加",
                            anim: 1,
                            area:['300px','300px'],
                            content:$("#proPop"),
                            btn:['提交','取消'],
                            yes:function (index, layero) {
                                var regId = new RegExp("^\\d{6,15}$");
                                var regName = new RegExp("^[0-9]*$");
                                var pro_acaId = $("#aca_select_pro").val();
                                var professionId = $("#professionId").val();
                                var professionName = $("#professionName").val();
                                if(professionId==null||professionId==''){layer.msg("专业编号不能为空",{icon:5});return;}
                                if(!regId.test(professionId)) {
                                    layer.msg("专业编号必须是6-15位数字！",{icon: 5});
                                    return;
                                }
                                if(professionName==null||professionName==''){layer.msg("专业名称不能为空",{icon:5});return;}
                                if(regName.test(professionName)) {
                                    layer.msg("专业名称不能为数字！",{icon: 5});
                                    return;
                                }

                                console.log(pro_acaId);
                                $.ajax({
                                    url:'/admin/addAcaAnaProAndClassInfo'
                                    ,data:{
                                        acaId:pro_acaId,
                                        professionId:professionId,
                                        professionName:professionName,
                                        type:1
                                    }
                                    ,type:'post'
                                    ,success:function (res) {
                                        console.log(res);
                                        if(res.code==401||res.code==400){
                                            layer.msg(res.msg,{icon: 5})
                                            return;
                                        }else {
                                            layer.msg(res.data,function(){
                                                location.reload();
                                            });
                                        }
                                    }
                                });
                            },
                            end:function () {
                                window.location.reload();
                            }
                        });
                        break;
                };
            });



            //第一个实例
            var classTable = table.render({
                elem: '#ClassTable'
                ,height: 300
                ,width:650
                ,skin:'row'
                ,even:true
                ,url:'/admin/selectAcaInfo' //数据接口
                ,where:{
                    type:2
                }
                ,toolbar:'#toolbar'
                , loading: true
                , text:{none:'没有查到更多数据～'}
                ,page: true //开启分页
                ,cols: [[ //表头
                    {type: 'checkbox',fixed: 'left'}
                    ,{field: 'cId', title: '班级编号', width: 100,align:'center'}
                    ,{field: 'cName', title: '班级名称', width: 160,align:'center'}
                    ,{field: 'professionName', title: '所属专业', width: 160,align:'center'}
                    ,{field: 'acaName', title: '所属学院', width:130, align:'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
                ]]
            });

            $("#classSearch").on('click',function () {
                classTable.reload({
                    url:'/admin/selectAcaInfo',
                    where:{
                        type:2,
                        selType:$("#classSelect").val(),
                        selVal:$("#classInput").val()
                    },
                    page:{
                        curr:1
                    }
                })
            });

            table.on('toolbar(ClassTable)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        var ids="";
                        var names="";
                        $.each(data,function(){
                            ids+=this.cId+",";
                            names+=this.cName+",";
                        });
                        ids=ids.substring(0,ids.length-1);
                        names=names.substring(0,names.length-1);
                        if(ids==''){
                            layer.msg("请选择要删除的用户！");
                        }else{
                            layer.confirm('确定要删除【'+names+'】的信息吗？', {
                                btn: ['确定','不了，不了'] //按钮
                            }, function(){
                                $.ajax({
                                    url:'${APP_PATH}/admin/students/delStudent?ids='+ids,
                                    type:'GET',
                                    success:function(result){
                                        layer.msg(result.msg,function(){
                                            location.reload();
                                        });
                                    }
                                });
                            }, function(){
                                layer.msg('你考虑好再来');
                            });
                        };
                        break;
                    case 'addInfo':
                        getAcademys("#aca_select_class",1);
                       // var temp =$("#aca_select_class").val();
                        form.on('select(aca_select_class)',function (data) {
                            $("#pro_select_class").empty();
                            $.ajax({
                                       url:'/admin/selectAcaInfo',
                                       data:{
                                           type:1,
                                           acaId:data.value
                                       } ,
                                        success:function (res) {
                                            var result  = $.parseJSON(res).data
                                            for(var i =0;i<result.length;i++){
                                                $("#pro_select_class").append('<option value='+result[i].professionId+'>'+result[i].professionName+'</option>');
                                            }
                                            form.render();
                                            form.render('select');
                                        }
                                    });

                        });
                        layer.open({
                            type:1,
                            skin:"layui-layer-molv",
                            title:"班级信息添加",
                            anim: 1,
                            area:['300px','400px'],
                            content:$("#classPop"),
                            btn:['提交','取消'],
                            yes:function (index, layero) {
                                var regId = new RegExp("^\\d{6,15}$");
                                var regName = new RegExp("^[0-9]*$");
                                var cId = $("#cId").val();
                                var cName = $("#cName").val();
                                var class_aca=$("#aca_select_class").val();
                                var clas_pro=$("#pro_select_class").val();
                                if(cId==null||cId==''){layer.msg("班级编号不能为空",{icon:5});return;}
                                if(!regId.test(cId)) {
                                    layer.msg("班级编号必须是6-15位数字！",{icon: 5});
                                    return;
                                }
                                if(cName==null||cName==''){layer.msg("班级名称不能为空",{icon:5});return;}
                                if(regName.test(cName)) {
                                    layer.msg("班级名称不能为数字！",{icon: 5});
                                    return;
                                }
                                $.ajax({
                                    url:'/admin/addAcaAnaProAndClassInfo'
                                    ,data:{
                                        acaId:class_aca,
                                        professionId:clas_pro,
                                        cId:cId,
                                        cName:cName,
                                        type:2
                                    }
                                    ,type:'post'
                                    ,success:function (res) {
                                        console.log(res);
                                        if(res.code==401||res.code==400){
                                            layer.msg(res.msg,{icon: 5})
                                            return;
                                        }else {
                                            layer.msg(res.data,function(){
                                                location.reload();
                                            });
                                        }
                                    }
                                });

                            },
                            end:function () {
                                window.location.reload();
                            }
                        });
                        break;
                };
            });

            // function getProfessions(ele,aId) {
            //     $.ajax({
            //        url:'/admin/selectAcaInfo',
            //        data:{
            //            type:1,
            //            acaId:aId
            //        } ,
            //         success:function (res) {
            //             var result  = $.parseJSON(res).data
            //             createProOption(ele,result);
            //             form.render(); //更新全部
            //             form.render('select');
            //         }
            //     });
            // }

            function getAcademys(ele,type){
                $.ajax({
                    url:'/admin/selectAcaInfo',
                    data:{
                        type:type
                    },
                    success:function(res){
                        var result  = $.parseJSON(res).data;
                        var h = {};
                        var arr = new Array();
                        for(var i=0;i<result.length;i++){
                            if(!h[result[i].acaId]){
                                h[result[i].acaId]=true;
                                arr.push(result[i]);
                            }
                        }
                        createOption(ele,arr);
                        form.render(); //更新全部
                        form.render('select');
                    }
                });
            }
            //
            // function createProOption(ele,data) {
            //     var html='';
            //     for(var i=0;i<data.length;i++){
            //         html+='<option value='+data[i].professionId+'>'+data[i].professionName+'</option>';
            //     }
            //     $(ele).append(html);
            // }

            //动态创建Option
            function createOption(ele,data){
                var html='';
                for(var i=0;i<data.length;i++){
                    html+='<option value='+data[i].acaId+'>'+data[i].acaName+'</option>';
                }
                $(ele).append(html);
            }

        });
    </script>

    <!--工具栏-->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-radius layui-btn-danger" lay-event="getCheckData">批量删除</button>
            <button class="layui-btn layui-btn-radius layui-btn-normal" lay-event="addInfo">信息添加</button>
        </div>
    </script>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">删除</a>
    </script>


</body>
</html>