<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field" style="margin-top: 50px;">
        <legend>课程信息</legend>
            <div class="layui-input-inline">
                <select name="selType" lay-verify="selected" id="selType" class="layui-select">
                    <option value="">请选择查询选项</option>
                    <option value="0">课程编号</option>
                    <option value="1">课程名称</option>
                    <option value="2">所属学院</option>
                </select>
            </div>
            <div class="layui-inline">
                <input class="layui-input" name="selVal" id="selVal" autocomplete="off">
            </div>
        <button class="layui-btn" id="selSearch">搜索</button>
        <table class="layui-hide" id="courseTable" lay-filter="courseTable"></table>
    </fieldset>
</div>


<div  class="layui-form" id="coursePop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <select id="aca_select_course"  name="stuAcaId" lay-filter="aca_select_course">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程编号</label>
            <div class="layui-input-block">
                <input type="text" name="crId" id="crId" placeholder="请输入。。。" lay-verify="required|number"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-block">
                <input type="text" name="crName" id="crName" placeholder="请输入。。。"  lay-verify="required" class="layui-input">
            </div>
        </div>
    </form>
</div>

<script th:inline="none">
    layui.use(['table', 'layer','form'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form;

        //第一个实例
        var courseTable = table.render({
            elem: '#courseTable'
            ,height: 300
            ,width:650
            ,skin:'row'
            ,even:true
            ,toolbar:'#toolbar'
            ,url: '/admin/seleceCourses' //数据接口
            ,where:{
                type:0
            }
            , loading: true
            , text:{none:'没有查到更多数据～'}
            ,page: true //开启分页
            ,id:'courseTable'
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'crId', title: '课程编号', width:160,align:'center'}
                ,{field: 'crName', title: '课程名', width:180,align:'center'}
                ,{field: 'acaName', title: '所属学院', width:160,align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150,align:'center'}
            ]]
        });

        $("#selSearch").on('click',function () {
            courseTable.reload({
                url:'/admin/seleceCourses',
                where:{
                    selType:$("#selType").val(),
                    selVal:$("#selVal").val()
                },
                page:{
                    curr:1
                }
            })
        });

        table.on('toolbar(courseTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    var ids="";
                    var names="";
                    $.each(data,function(){
                        ids+=this.tId+",";
                        names+=this.tName+",";
                    });
                    ids=ids.substring(0,ids.length-1);
                    names=names.substring(0,names.length-1);
                    if(ids==''){
                        layer.msg("请选择要删除的用户！");
                    }else{
                        layer.confirm('确定要删除【'+names+'】的信息吗？', {
                            btn: ['确定','不了，不了'] //按钮
                        }, function(){
                            $.ajax({
                                url:'${APP_PATH}/admin/students/delStudent?ids='+ids,
                                type:'GET',
                                success:function(result){
                                    layer.msg(result.msg,function(){
                                        location.reload();
                                    });
                                }
                            });
                        }, function(){
                            layer.msg('你考虑好再来');
                        });
                    };
                    //layer.alert(JSON.stringify(data));
                    break;
                case 'addInfo':
                    getAcademys("#aca_select_course",0);
                    layer.open({
                        type:1,
                        skin:"layui-layer-molv",
                        title:"课程信息添加",
                        anim: 1,
                        area:['300px','300px'],
                        content:$("#coursePop"),
                        btn:['提交','取消'],
                        yes:function (index, layero) {
                            var regId = new RegExp("^\\d{6,15}$");
                            var regName = new RegExp("^[0-9]*$");
                            var course_acaId = $("#aca_select_course").val();
                            var crId = $("#crId").val();
                            var crName = $("#crName").val();
                            if(crId==null||crId==''){layer.msg("课程编号不能为空",{icon:5});return;}
                            if(!regId.test(crId)) {
                                layer.msg("课程编号必须是6-15位数字！",{icon: 5});
                                return;
                            }
                            if(crName==null||crName==''){layer.msg("课程名称不能为空",{icon:5});return;}
                            if(regName.test(crName)) {
                                layer.msg("课程名称不能为数字！",{icon: 5});
                                return;
                            }
                            $.ajax({
                                url:'/admin/addCourse'
                                ,data:{
                                    crId:crId,
                                    crName:crName,
                                    crAca:course_acaId,
                                }
                                ,type:'post'
                                ,success:function (res) {
                                    console.log(res);
                                    if(res.code==401||res.code==400){
                                        layer.msg(res.msg,{icon: 5})
                                        return;
                                    }else {
                                        layer.msg(res.data,function(){
                                            location.reload();
                                        });
                                    }
                                }
                            });
                        },
                        end:function () {
                            window.location.reload();
                        }
                    });
                    break;
            };
        });


        function getAcademys(ele,type){
            $.ajax({
                url:'/admin/selectAcaInfo',
                data:{
                    type:type
                },
                success:function(res){
                    var result  = $.parseJSON(res).data;
                    var h = {};
                    var arr = new Array();
                    for(var i=0;i<result.length;i++){
                        if(!h[result[i].acaId]){
                            h[result[i].acaId]=true;
                            arr.push(result[i]);
                        }
                    }
                    createOption(ele,arr);
                    form.render(); //更新全部
                    form.render('select');
                }
            });
        }


        function createOption(ele,data){
            var html='';
            for(var i=0;i<data.length;i++){
                html+='<option value='+data[i].acaId+'>'+data[i].acaName+'</option>';
            }
            $(ele).append(html);
        }

    });
</script>
<!--工具栏-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-radius layui-btn-danger" lay-event="getCheckData">批量删除</button>
        <button class="layui-btn layui-btn-radius layui-btn-normal" lay-event="addInfo">信息添加</button>
    </div>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">删除</a>
</script>
</body>
</html>