<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field" style="margin-top: 50px;">
        <legend>学生信息</legend>
            <div class="layui-input-inline">
                <select name="selType" lay-verify="selected" id="selType" class="layui-select">
                    <option value="">请选择查询选项</option>
                    <option value="0">学院名称</option>
                    <option value="1">专业名称</option>
                    <option value="2">学号</option>
                    <option value="3">姓名</option>
                </select>
            </div>
            <div class="layui-inline">
                <input class="layui-input" name="selVal" id="selVal" autocomplete="off">
            </div>
        <button class="layui-btn" id="selSearch">搜索</button>
        <table class="layui-hide" id="stuTable" lay-filter="stuTable"></table>
    </fieldset>
</div>
<script th:inline="none">
    layui.use(['table', 'layer','form'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form;

        //第一个实例
        var stuTable = table.render({
            elem: '#stuTable'
            ,height: 350
            ,width:888
            ,skin:'row'
            ,even:true
            ,toolbar:'#toolbar'
            ,url: '/admin/getStudents' //数据接口
            , loading: true
            , text:{none:'没有查到更多数据～'}
            ,parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": JSON.parse(res.data.code), //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.data.count, //解析数据长度
                        "data": res.data.data //解析数据列表
                    };
            }
            ,page: true //开启分页
            ,id:'stuTable'
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'sId', title: '学号', width:120,align:'center'}
                ,{field: 'sName', title: '学生姓名', width:100,align:'center'}
                ,{field: 'sSex', title: '性别', width:100,align:'center', templet: function (d) {
                        return d.tSex=='m'?'男':'女';
                    }}
                ,{field: 'sMobile', title: '联系电话', width:140,align:'center'}
                ,{field: 'sEmail', title: '邮箱', width:160,align:'center'}
                ,{field: 'acaName', title: '所属学院', width:120,align:'center'}
                ,{field: 'professionName', title: '所属专业', width:140,align:'center'}
                ,{field: 'cName', title: '所属班级', width:120,align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
            ]]
        });

        $("#selSearch").on('click',function () {
            stuTable.reload({
                url:'/admin/getStudents',
                where:{
                    selType:$("#selType").val(),
                    selVal:$("#selVal").val()
                },
                page:{
                    curr:1
                }
            })
        });

        table.on('toolbar(stuTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    var ids="";
                    var names="";
                    $.each(data,function(){
                        ids+=this.sId+",";
                        names+=this.sName+",";
                    });
                    ids=ids.substring(0,ids.length-1);
                    names=names.substring(0,names.length-1);
                    if(ids==''){
                        layer.msg("请选择要删除的用户！");
                    }else{
                        layer.confirm('确定要删除【'+names+'】的信息吗？', {
                            btn: ['确定','不了，不了'] //按钮
                        }, function(){
                            $.ajax({
                                url:'${APP_PATH}/admin/students/delStudent?ids='+ids,
                                type:'GET',
                                success:function(result){
                                    layer.msg(result.msg,function(){
                                        location.reload();
                                    });
                                }
                            });
                        }, function(){
                            layer.msg('你考虑好再来');
                        });
                    };
                    //layer.alert(JSON.stringify(data));
                    break;
                case 'addInfo':
                        window.location.href="/admin/stuInfoAdd"
                    break;
            };
        });
    });
</script>
<!--工具栏-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-radius layui-btn-danger" lay-event="getCheckData">批量删除</button>
        <button class="layui-btn layui-btn-radius layui-btn-normal" lay-event="addInfo">信息添加</button>
    </div>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">删除</a>
</script>
</body>
</html>