<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field" style="margin-top: 50px;">
        <legend>教师信息添加</legend>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">教师编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="tId" lay-verify="required|number" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">教师姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="tName" placeholder="请输入姓名"  lay-verify="required|username" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" pane="">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="tSex" value="f" title="男" checked="">
                    <input type="radio" name="tSex" value="m" title="女">
                    <input type="radio" name="tSex" value="禁" title="禁用" disabled="">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="tMobile" placeholder="请输入电话" lay-verify="required|phone|number"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="tEmail" placeholder="请输入邮箱" lay-verify="required|email"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属学院</label>
                <div class="layui-input-inline">
                    <select name="tAca" lay-filter="tAca" id="tAca">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/admin/teaInfoList}" target="main">返回</a>
            </div>
        </form>
    </fieldset>
</div>
<script th:inline="none">
    layui.use(['table', 'layer','form'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form;


        $(function () {
            getAcademys("#tAca",0);
        });

        form.on('submit(*)', function(data){
            console.log(data.field)
            $.ajax({
                url:'/admin/addTeacher',
                type:'post',
                data:data.field,
                success:function (res) {
                    if(res.code==400||res.code==401){
                        layer.msg(res.msg,{icon:5})
                        return;
                    }else{
                        layer.msg(res.data,function(){
                            window.location.href="/admin/teaInfoList";
                        });
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });


        form.verify({
            username: function (value, item) {
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
        });

        function getAcademys(ele,type){
            $.ajax({
                url:'/admin/selectAcaInfo',
                data:{
                    type:type
                },
                success:function(res){
                    var result  = $.parseJSON(res).data;
                    var h = {};
                    var arr = new Array();
                    for(var i=0;i<result.length;i++){
                        if(!h[result[i].acaId]){
                            h[result[i].acaId]=true;
                            arr.push(result[i]);
                        }
                    }
                    createOption(ele,arr);
                    form.render(); //更新全部
                    form.render('select');
                }
            });
        }


        function createOption(ele,data){
            var html='';
            for(var i=0;i<data.length;i++){
                html+='<option value='+data[i].acaId+'>'+data[i].acaName+'</option>';
            }
            $(ele).append(html);
        }

    });
</script>
</body>
</html>