<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 700px;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
        .boder-class{
            border-radius: 10px;
            border: 2px solid skyblue;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field boder-class" style="margin-top: 30px;width: 90%;">
        <form class="layui-form" method="post" id="uploadForm" enctype="multipart/form-data">
            <input type="text" id="tId" th:value="${session.userInfo.userId}" hidden>
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width:40%">
                    <label class="layui-form-label">课程名称：</label>
                    <div class="layui-input-inline">
                        <select name="crName" id="crName" lay-verify="required" lay-filter="nextQueryProject">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>

                <div class="layui-input-inline" style="margin-left:5%;width: 40%">
                    <label class="layui-form-label">课程编号：</label>
                    <div class="layui-input-inline">
                        <input  type="text" name="hCourse" id="crId"  autocomplete="off" class="layui-input layui-disabled" disabled>
                    </div>
                </div>
            </div>
            <div class="layui-form-item"  style="margin-top: 50px">
                <div class="layui-input-inline" style="width: 40%">
                    <label class="layui-form-label">发布时间：</label>
                    <div class="layui-input-inline">
                        <input  type="text" class="layui-input" lay-verify="required" name="hStarttime" id="startTime" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
                <div class="layui-input-inline" style="width: 40%;margin-left: 5%">
                    <label class="layui-form-label">截至时间：</label>
                    <div class="layui-input-inline">
                        <input  type="text" class="layui-input" id="endTime" lay-verify="required" name="hEndtime" placeholder="yyyy-MM-dd HH:mm:ss">
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 50px">
                <div class="layui-input-inline" style="width:50%">
                    <label class="layui-form-label" style="width: 40%">按选课发布：</label>
                    <div class="layui-input-inline" style="margin-left: 5%">
                        <input  type="radio" name="publictype" value="0"  lay-filter="publictype" checked>
                    </div>
                </div>
                <div class="layui-input-inline" style="margin-left:-5%;width: 50%">
                    <label class="layui-form-label" style="width: 40%">按专业发布：</label>
                    <div class="layui-input-inline" style="margin-left:5%">
                        <input  type="radio" name="publictype" value="1" lay-filter="publictype" style="margin-left: 50px">
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-hide" style="margin-top: 50px" id="selectPro" hidden>
                <div class="layui-input-inline" style="width: 50%">
                    <label class="layui-form-label" style="width: 30%">请选择学院：</label>
                    <div class="layui-input-inline" style="width:50%;">
                        <select class="layui-input" name="acaId" id="acaId" lay-filter="aca_select">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" style="width: 50%;margin-left: -5%">
                    <label class="layui-form-label" style="width: 30%">请选择专业：</label>
                    <div class="layui-input-inline" style="width:50%;">
                        <select class="layui-input" name="professionId" id="professionId">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 50px">
                <label class="layui-form-label" >作业上传：</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal" id="fileSelectBtn">选择作业</button>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" >注意：</label>
                <div class="layui-form-mid layui-word-aux"><span style="color: red;font-weight: bold">*作业格式只能是zip、doc、docx、pdf，多个作业请打包为zip格式*</span></div>
            </div>
            <div class="layui-form-item" style="margin-top: 50px">
                <div class="layui-input-inline" style="width: 50%">
                    <label class="layui-form-label" >作业说明：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="hComment" id="comments" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item" style="margin-top: 50px">
                <div class="layui-input-block" >
                    <input type="button" class="layui-btn layui-hide" hidden id="fileListAction" />
                    <button type="button" class="layui-btn" lay-submit id="submitBtn" lay-filter="*" style="margin-left: 40%">提交</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<script th:inline="none">
    layui.use(['table', 'layer','form','laydate','upload'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form
            ,laydate=layui.laydate
            ,upload=layui.upload;

        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
            ,min:1
            ,max:7
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
            ,min:2
            ,max:15
        });

        form.on('submit(*)',function (res) {
            var startTime = $("#startTime").val();
            var endTime = $("#endTime").val();
            var date1 = new Date(startTime);
            var date2 = new Date(endTime);
            if(date1>=date2){
                layer.msg("请选择正确的时间阶段！",{icon:5})
                return;
            }
            var temp = $("input[name='publictype']:checked").val();
            var acaId = $("#acaId").val();
            var professId = $("#professionId").val();
            if(temp==1){
                if(acaId==""||professId==""){
                    layer.msg("请选择学院和专业！",{icon:3});
                }
            }
            uploadListIns.upload();
        });

        var typeVal;
        form.on('radio(publictype)',function (data) {
             typeVal = data.value;
            if(typeVal==0){
                $("#selectPro").addClass('layui-hide').attr('hidden',true);
                $("#acaId").val("");
                $("#professionId").val("");
                form.render('select');
            }else if(typeVal==1){
                $("#selectPro").removeAttr('hidden').removeClass('layui-hide');
            }

        });

            //多文件列表示例
            var uploadListIns = upload.render({
                elem: '#fileSelectBtn'
                ,url: '/homework/teaFileUpload'
                ,accept: 'file'
                ,auto: false
                ,size:100*1024
                ,exts:'zip|docx|doc|pdf'
                ,bindAction: '#fileListAction'
                ,before:function (obj) {
                    console.log(typeVal)
                    this.data={'crName':$("#crName").val(),
                        'hCourse':$("#crId").val(),
                        'hStarttime':$("#startTime").val(),
                        'hEndtime':$("#endTime").val(),
                        'acaId':typeVal==1?$("#acaId").val():"",
                        'professionId':typeVal==1?$("#professionId").val():"",
                        'hComment':$("#comments").val()
                    };
                    layer.load();
                }
               ,done: function(res){
                    console.log(res)
                    if(res.code !=408){ //上传成功
                        if(res.code==401){
                            layer.msg(res.msg,{icon:3,time:0,btn:['了解'],yes:function () {
                                    window.location.href="/teacher/hwList";
                                }});
                        }else if(res.code==200||res.code==0){
                            layer.msg(res.msg,{icon:1,time:3000},function () {
                                window.location.href="/teacher/hwList";
                            });
                        }
                    }else if(res.code==408){
                        layer.msg(res.msg,{icon:5})
                    }else{
                        layer.msg(res.msg,{icon:5})
                    }

                }
                ,error:function () {
                    layer.msg("上传失败！",{icon:5});
                }
            });


        $(function () {
           getCourses("#crName");
           getAcademys("#acaId");
           getProfess("#professionId");
        });

        form.on('select(nextQueryProject)',function (data) {
            $("#crId").val(data.value)
        });


        function getCourses(ele){
            $.ajax({
                url:'/course/selectCourseWithTeacher',
                data:{
                    tId:$("#tId").val()
                },
                success:function(res){
                    var result  = $.parseJSON(res).data;
                    var h = {};
                    var arr = new Array();
                    for(var i=0;i<result.length;i++){
                        if(!h[result[i].crId]){
                            h[result[i].crId]=true;
                            arr.push(result[i]);
                        }
                    }
                    createOption(ele,arr);
                    form.render(); //更新全部
                    form.render('select');
                }
            });
        }

        function getAcademys(ele){
            $.ajax({
                url:'/admin/selectAcaInfo',
                data:{
                    type:2
                },
                success:function(res){
                    var result  = $.parseJSON(res).data;
                    var h = {};
                    var arr = new Array();
                    for(var i=0;i<result.length;i++){
                        if(!h[result[i].acaId]){
                            h[result[i].acaId]=true;
                            arr.push(result[i]);
                        }
                    }
                    createOption1(ele,arr);
                    form.render(); //更新全部
                    form.render('select');
                }
            });
        }

        //动态创建Option
        function createOption1(ele,data){
            var html='';
            for(var i=0;i<data.length;i++){
                html+='<option value='+data[i].acaId+'>'+data[i].acaName+'</option>';
            }
            $(ele).append(html);
        }


        function getProfess(ele) {
            form.on('select(aca_select)',function (data) {
                $("#professionId").empty();
                $.ajax({
                    url:'/admin/selectAcaInfo',
                    data:{
                        type:2,
                        acaId:data.value
                    } ,
                    success:function (res) {
                        var result  = $.parseJSON(res).data;
                        var h = {};
                        var arr = new Array();
                        for(var i=0;i<result.length;i++){
                            if(!h[result[i].professionId]){
                                h[result[i].professionId]=true;
                                arr.push(result[i]);
                            }
                        }
                        for(var i =0;i<arr.length;i++){
                            $(ele).append('<option value='+arr[i].professionId+'>'+arr[i].professionName+'</option>');
                        }
                        form.render();
                        form.render('select');
                    }
                });

            });
        }

        //动态创建课程Option
        function createOption(ele,data){
            var html='';
            for(var i=0;i<data.length;i++){
                html+='<option value='+data[i].crId+'>'+data[i].crName+'</option>';
            }
            $(ele).append(html);
        }



    });
</script>
</body>
</html>