<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/timeStampToTime.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width:75%;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
        .boder-class{
            border-radius: 10px;
            border: 2px solid skyblue;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field boder-class" style="margin-top: 30px;width: 888px;">
        <form class="layui-form" >
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width: 350px">
                    <label class="layui-form-label">查询条件：</label>
                    <div class="layui-input-inline">
                        <select name="selType" lay-filter="nextQueryProject">
                            <option value="-1">--请选择--</option>
                            <option value="0">作业编号</option>
                            <option value="1">作业名称</option>
                            <option value="2">课程编号</option>
                            <option value="3">课程名称</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" style="margin-left: -50px">
                    <input id="queryKeyword" type="text" name="selVal"   placeholder="请输入查询关键字" autocomplete="off" class="layui-input layui-disabled" disabled>
                </div>
                <div class="layui-input-inline" style="margin-left: -50px;width: 350px">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="hStatus">
                            <option value="-1">--请选择--</option>
                            <option value="0">已上传</option>
                            <option value="1">已发放</option>
                            <option value="2">已结束</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" >
                <div class="layui-inline" >
                    <label class="layui-form-label">作业时间:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="hStarttime" placeholder="开始时间" id="startTime" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="hEndtime" placeholder="结束时间" id="endTime" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-input-block " style="float: right;margin-right: 130px">
                    <button type="button" class="layui-btn" lay-submit lay-filter="*">查询</button>
                </div>
            </div>
        </form>
    </fieldset>
    <fieldset class="layui-elem-field boder-class" style="margin-top: 10px;">
        <legend>作业信息</legend>
        <table class="layui-hide" id="homeworkTable" lay-filter="homeworkTable"></table>
    </fieldset>
</div>


<div  class="layui-form" id="homeworkPop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
                <input type="text"  name="updateEndTime" id="updateStartTime"  class="layui-input ">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text"  name="updateEndTime" id="updateEndTime"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作业说明</label>
            <div class="layui-input-block">
                <textarea rows="5" cols="5" id="updateComment" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>
</div>

<script th:inline="none">
    layui.use(['table', 'layer','form','laydate'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form
            ,laydate=layui.laydate;



        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });




        form.on('select(nextQueryProject)',function (data) {
            if (data.value=='-1') {
                $('#queryKeyword').val('').addClass('layui-disabled').attr('disabled',true);
            }else {
                $('#queryKeyword').val('').removeAttr('disabled').removeClass('layui-disabled');
            }
        });



        //第一个实例
        var homeworkTable = table.render({
            elem: '#homeworkTable'
            ,height: 350
            ,width:888
            ,skin:'row'
            ,even:true
            ,toolbar:'#toolbar'
            ,url: '/homework/teaSelectHomeWork' //数据接口
            , loading: true
            , text:{none:'没有查到更多数据～'}
            ,page: true //开启分页
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": JSON.parse(res.data.code), //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            ,id:'teaTable'
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'hId', title: '作业编号', width:180,align:'center'}
                ,{field: 'hName', title: '作业名称', width:160,align:'center'}
                ,{field: 'crId', title: '课程编号', width:100,align:'center'}
                ,{field: 'crName', title: '课程名称', width:140,align:'center'}
                ,{field: 'hUptime', title: '作业上传时间', width:160,align:'center',templet: function (d) {
                        return d.hUptime != null ?timeStampToTime(d.hUptime): '';
                }}
                ,{field: 'hStarttime', title: '作业发放时间', width:160,align:'center',templet: function (d) {
                        return d.hStarttime != null ?timeStampToTime(d.hStarttime): '';
                }}
                ,{field: 'hEndtime', title: '作业结束时间', width:160,align:'center',templet: function (d) {
                        return d.hEndtime != null ?timeStampToTime(d.hEndtime): '';
                }}
                ,{field: 'hStatus', title: '作业状态', width:120,align:'center',templet: function (d) {
                    var startTime = new Date(d.hStarttime);
                    var endTime = new Date(d.hEndtime);
                    var upTime = new Date(d.hUptime);
                    var today = new Date();
                    var res="";
                    if(upTime<today&&today<startTime){
                        res="已上传";
                    }else if(startTime<today&&today<endTime){
                        res="已发放";
                    }else if(today>endTime){
                        res="已结束";
                    }
                    return res;
                }}
                ,{field: 'hComment', title: '作业说明', width:180,align:'center'}
                ,{fixed: 'right', title:'操作', toolbar: '#bar', width:150}
            ]]
        });

        form.on('submit(*)',function (data) {
            var reg = new RegExp("^[0-9]*$");
            if(data.field.selType==0||data.field.selType==2){
                var temp = data.field.selVal;
                if(!reg.test(temp)){
                    layer.msg("请输入数字",{icon:5})
                    return;
                }
            }
            console.log(data.field.selType);
            homeworkTable.reload({
                url:'/homework/teaSelectHomeWork',
                where:data.field,
                page:{
                    curr:1
                }
            });
        });

        table.on('toolbar(homeworkTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addInfo':
                    window.location.href="/teacher/hwAdd"
                    break;
            };
        });


        laydate.render({
            elem: '#updateStartTime'
            ,type: 'datetime'
            ,min:1
            ,max:15
        });

        laydate.render({
            elem: '#updateEndTime'
            ,type: 'datetime'
            ,min:1
            ,max:15
        });

        table.on('tool(homeworkTable)',function (obj) {
            var data = obj.data;
            var event = obj.event;
            if(event === 'edit'){
                $('#updateStartTime').val(timeStampToTime(data.hStarttime));
                $('#updateEndTime').val(timeStampToTime(data.hEndtime));
                $('#updateComment').val(data.hComment);
                layer.open({
                    type:1,
                    skin:"layui-layer-molv",
                    title:"作业信息修改",
                    anim: 1,
                    area:['350px','350px'],
                    content:$("#homeworkPop"),
                    btn:['提交','取消'],
                    yes:function (index, layero) {
                        var updateStartTime = $('#updateStartTime').val();
                        var updateEndTime = $('#updateEndTime').val();
                        var updateComment = $('#updateComment').val();
                        var date1 = new Date(updateEndTime);
                        var date2 = new Date(updateStartTime);
                        if(updateEndTime==null
                            ||updateEndTime==''
                            ||updateStartTime==null
                            ||updateStartTime==''){
                            layer.msg("开始和结束时间不能为空！",{icon:5})
                            return;
                        }
                        if(date2>date1){
                            layer.msg("结束时间不能小于开始时间",{icon:5})
                            return;
                        }
                        $.ajax({
                            url:'/teacherHomework/updateHomework',
                            type:'post',
                            data:{
                                hId:data.hId,
                                hStarttime:updateStartTime,
                                hEndtime:updateEndTime,
                                hComment:updateComment
                            },
                            success:function (res) {
                                if(res.code==200){
                                    layer.msg(res.data,{icon:6},function () {
                                        location.reload()
                                    });
                                }else {
                                    layer.msg(res.msg,{icon:5})
                                    return;
                                }

                            }
                        });
                    },
                    end:function () {
                        window.location.reload();
                    }
                });
            }else if(event === 'del'){

                layer.confirm("确定删除【"+data.hName+"】作业吗？"
                    ,{btn:['确定','取消']},function () {
                        var startTime = new Date(data.hStarttime);
                        var endTime = new Date(data.hEndtime);
                        var upTime = new Date(data.hUptime);
                        var today = new Date();
                        var res;
                        if(upTime<today&&today<startTime){
                            res=1;
                        }else if(today>endTime){
                            res=0;
                        }
                        $.ajax({
                            url:'/teacherHomework/deleteHomework',
                            type:'post',
                            data:{
                                res:res,
                                type:0,
                                hId:data.hId
                            },
                            success:function (res) {
                                console.log(res)
                                if(res.code==200){
                                    layer.msg(res.data,{icon:6,time:3000},function () {
                                        location.reload();
                                    });
                                }else {
                                    layer.msg(res.msg,{icon:5,time:3000},function () {
                                        location.reload();
                                    });
                                }
                            }

                        });
                    },function () {
                        layer.msg("没事别乱点！")
                    });
                
            }else if(event === 'toDetail'){
                $.ajax({
                    url:'/teacherHomework/selectCommitedCount',
                    type:'post',
                    data:{
                        hId:data.hId
                    },
                    success:function (res) {
                        if(res.code==200) {
                            if(res.data.hasCount==null||res.data.hasCount==0){
                                layer.msg("当前没有人提交作业");
                                return;
                            }else {
                                layer.msg("当前有【"+res.data.hasCount+"】人提交作业！",{time:3000},function () {
                                    window.location.href='/teacherHomework/toDetail?' +
                                        'crName='+data.crName+
                                        '&crId='+data.crId+
                                        '&hStarttime='+timeStampToTime(data.hStarttime)+
                                        '&hEndtime='+timeStampToTime(data.hEndtime)+
                                        '&hComment='+data.hComment+
                                        '&hRealname='+data.hName+
                                        '&hId='+data.hId+
                                        '&hasCount='+res.data.hasCount+
                                        '&shouldCount='+res.data.shouldCount;
                                });
                            }
                        }
                    }
                });

            }else if(event === 'detail'){
                $.ajax({
                    url:'/teacherHomework/selectCommitedCount',
                    type:'post',
                    data:{
                        hId:data.hId
                    },
                    success:function (res) {
                        if(res.code==200) {
                            if(res.data.hasCount==null||res.data.hasCount==0){
                                layer.msg("当前没有人提交作业");
                            }else {
                                layer.msg("当前有【"+res.data.hasCount+"】人提交作业！")
                            }
                        }
                    }
                });
            }

        });
    });
</script>
<!--工具栏-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-radius layui-btn-normal" lay-event="addInfo">上传作业</button>
    </div>
</script>
<script type="text/html" id="bar">
    {{#  var startTime = new Date(d.hStarttime)}}
    {{#  var endTime = new Date(d.hEndtime)}}
    {{#  var today = new Date()}}
    {{#  if(startTime>today){ }}
        <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">删除</a>
    {{#   }else if(today>endTime){ }}
        <a  class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-green" lay-event="toDetail">查看</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius" lay-event="del">删除</a>
    {{# }else { }}
         <a  class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-green" lay-event="toDetail">查看</a>
    {{# } }}
</script>
</body>
</html>