<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibazhang.provider.mapper.StudentHomeworkCommitMapper">
  <resultMap id="BaseResultMap" type="com.yibazhang.provider.entity.StudentHomeworkCommit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="h_id" jdbcType="BIGINT" property="hId" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
    <result column="student_homework_path" jdbcType="VARCHAR" property="studentHomeworkPath" />
    <result column="student_homework_name" jdbcType="VARCHAR" property="studentHomeworkName" />
    <result column="commited_time" jdbcType="TIMESTAMP" property="commitedTime" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="difficult" jdbcType="INTEGER" property="difficult" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
    <result column="pleasured" jdbcType="INTEGER" property="pleasured" />
    <result column="student_homework_status" jdbcType="INTEGER" property="studentHomeworkStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, h_id, s_id, s_name, student_homework_path, student_homework_name, commited_time, 
    receive_time, difficult, use_time, pleasured, student_homework_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_homework_commit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_homework_commit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yibazhang.provider.entity.StudentHomeworkCommit">
    insert into student_homework_commit (id, h_id, s_id, 
      s_name, student_homework_path, student_homework_name, 
      commited_time, receive_time, difficult, 
      use_time, pleasured, student_homework_status
      )
    values (#{id,jdbcType=INTEGER}, #{hId,jdbcType=BIGINT}, #{sId,jdbcType=INTEGER}, 
      #{sName,jdbcType=VARCHAR}, #{studentHomeworkPath,jdbcType=VARCHAR}, #{studentHomeworkName,jdbcType=VARCHAR}, 
      #{commitedTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, #{difficult,jdbcType=INTEGER}, 
      #{useTime,jdbcType=TIMESTAMP}, #{pleasured,jdbcType=INTEGER}, #{studentHomeworkStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yibazhang.provider.entity.StudentHomeworkCommit">
    insert into student_homework_commit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hId != null">
        h_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="sName != null">
        s_name,
      </if>
      <if test="studentHomeworkPath != null">
        student_homework_path,
      </if>
      <if test="studentHomeworkName != null">
        student_homework_name,
      </if>
      <if test="commitedTime != null">
        commited_time,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="difficult != null">
        difficult,
      </if>
      <if test="useTime != null">
        use_time,
      </if>
      <if test="pleasured != null">
        pleasured,
      </if>
      <if test="studentHomeworkStatus != null">
        student_homework_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hId != null">
        #{hId,jdbcType=BIGINT},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="sName != null">
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="studentHomeworkPath != null">
        #{studentHomeworkPath,jdbcType=VARCHAR},
      </if>
      <if test="studentHomeworkName != null">
        #{studentHomeworkName,jdbcType=VARCHAR},
      </if>
      <if test="commitedTime != null">
        #{commitedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="difficult != null">
        #{difficult,jdbcType=INTEGER},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pleasured != null">
        #{pleasured,jdbcType=INTEGER},
      </if>
      <if test="studentHomeworkStatus != null">
        #{studentHomeworkStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yibazhang.provider.entity.StudentHomeworkCommit">
    update student_homework_commit
    <set>
      <if test="hId != null">
        h_id = #{hId,jdbcType=BIGINT},
      </if>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="sName != null">
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="studentHomeworkPath != null">
        student_homework_path = #{studentHomeworkPath,jdbcType=VARCHAR},
      </if>
      <if test="studentHomeworkName != null">
        student_homework_name = #{studentHomeworkName,jdbcType=VARCHAR},
      </if>
      <if test="commitedTime != null">
        commited_time = #{commitedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="difficult != null">
        difficult = #{difficult,jdbcType=INTEGER},
      </if>
      <if test="useTime != null">
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pleasured != null">
        pleasured = #{pleasured,jdbcType=INTEGER},
      </if>
      <if test="studentHomeworkStatus != null">
        student_homework_status = #{studentHomeworkStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yibazhang.provider.entity.StudentHomeworkCommit">
    update student_homework_commit
    set h_id = #{hId,jdbcType=BIGINT},
      s_id = #{sId,jdbcType=INTEGER},
      s_name = #{sName,jdbcType=VARCHAR},
      student_homework_path = #{studentHomeworkPath,jdbcType=VARCHAR},
      student_homework_name = #{studentHomeworkName,jdbcType=VARCHAR},
      commited_time = #{commitedTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      difficult = #{difficult,jdbcType=INTEGER},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      pleasured = #{pleasured,jdbcType=INTEGER},
      student_homework_status = #{studentHomeworkStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>