<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/js/timeStampToTime.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <style type="text/css">
        .layui-elem-field {
            background-color: #f2f2f2;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
            padding:40px;
        }
        .boder-class{
            border-radius: 10px;
            border: 2px solid skyblue;
        }
    </style>
</head>
<body>
<div style="margin-left:50px;margin-top: 30px">
    <fieldset class="layui-elem-field boder-class" style="margin-top: 30px;width: 888px;">
        <form class="layui-form" >
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width: 350px">
                    <label class="layui-form-label">查询条件：</label>
                    <div class="layui-input-inline">
                        <select name="selType" lay-filter="nextQueryProject">
                            <option value="-1">--请选择--</option>
                            <option value="0">作业编号</option>
                            <option value="1">作业名称</option>
                            <option value="2">课程编号</option>
                            <option value="3">课程名称</option>
                            <option value="4">任课教师</option>
                        </select>
                    </div>
                </div>
                <div class="layui-input-inline" style="margin-left: -50px">
                    <input id="queryKeyword" type="text" name="selVal"   placeholder="请输入查询关键字" autocomplete="off" class="layui-input layui-disabled" disabled>
                </div>
                <div class="layui-input-inline" style="margin-left: -50px;width: 350px">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="hStatus">
                            <option value="-1">--请选择--</option>
                            <option value="0">待领取</option>
                            <option value="1">待提交</option>
                            <option value="2">已领取</option>
                            <option value="3">已提交</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item" >
                <div class="layui-inline" >
                    <label class="layui-form-label">作业时间:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="hStarttime" placeholder="开始时间" id="startTime" autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="hEndtime" placeholder="结束时间" id="endTime" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-input-block " style="float: right;margin-right: 130px">
                    <button type="button" class="layui-btn" lay-submit lay-filter="*">查询</button>
                </div>
            </div>
        </form>
    </fieldset>
    <fieldset class="layui-elem-field boder-class" style="margin-top: 10px;">
        <legend>作业信息</legend>
        <table class="layui-hide" id="homeworkTable" lay-filter="homeworkTable"></table>
    </fieldset>
</div>

<div  class="layui-form" id="homeworkPop" style="padding:10px;display: none;">
    <form class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">分数</label>
            <div class="layui-input-block">
                <input type="number" step="1" value="60" name="score" id="score"  class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师评语</label>
            <div class="layui-input-block">
                <textarea rows="5" cols="5" id="updateComment" class="layui-textarea" readonly></textarea>
            </div>
        </div>
    </form>
</div>

<script th:inline="none">
    layui.use(['table', 'layer','form','laydate'], function(){
        var table = layui.table
            ,$=layui.$
            ,layer=layui.layer
            ,form=layui.form
            ,laydate=layui.laydate;



        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });

        form.on('select(nextQueryProject)',function (data) {
            if (data.value=='-1') {
                $('#queryKeyword').val('').addClass('layui-disabled').attr('disabled',true);
            }else {
                $('#queryKeyword').val('').removeAttr('disabled').removeClass('layui-disabled');
            }
        });



        //第一个实例
        var homeworkTable = table.render({
            elem: '#homeworkTable'
            ,height: 350
            ,width:888
            ,skin:'row'
            ,even:true
            ,url: '/homework/stuSelectHomework' //数据接口
            ,loading: true
            ,text:{none:'没有查到更多数据～'}
            ,page: true //开启分页
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": JSON.parse(res.data.code), //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.count, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            ,id:'teaTable'
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'hId', title: '作业编号', width:180,align:'center'}
                ,{field: 'hName', title: '作业名称', width:160,align:'center'}
                ,{field: 'crId', title: '课程编号', width:100,align:'center'}
                ,{field: 'crName', title: '课程名称', width:140,align:'center'}
                ,{field: 'tName', title: '任课教师', width:160,align:'center'}
                ,{field: 'hStarttime', title: '作业发放时间', width:160,align:'center',templet: function (d) {
                            return d.hStarttime != null ?timeStampToTime(d.hStarttime): '';
                }}
                ,{field: 'hEndtime', title: '作业结束时间', width:160,align:'center',templet: function (d) {
                        return d.hEndtime != null ?timeStampToTime(d.hEndtime) : '';
                    }}
                ,{field: 'status', title: '作业状态', width:120,align:'center',templet: function (d) {

                        var temp = d.hStatusStu;
                        var endTime = new Date(d.hEndtime);
                        var today = new Date()
                        var res="";
                        if(temp==0){
                            res="待领取";
                        }else if(temp==1){
                            res="待提交";
                        }else if(temp==2){
                            res="已提交";
                        }else if(temp==3){
                            res="已收取";
                        }
                        if(temp==0&&today>endTime){
                            res ="不可领取";
                        }
                        return res;
                }}
                ,{field: 'hComment', title: '作业说明', width:160,align:'center'}
                ,{fixed: 'right', title:'操作',align:'center', width:150,toolbar:'#buttons'}
            ]]
        });

        form.on('submit(*)',function (data) {
            var reg = new RegExp("^[0-9]*$");
            if(data.field.selType==0||data.field.selType==2){
                var temp = data.field.selVal;
                if(!reg.test(temp)){
                    layer.msg("请输入数字",{icon:5})
                    return;
                }
            }
            homeworkTable.reload({
                url:'/homework/stuSelectHomework',
                where:data.field,
                page:{
                    curr:1
                }
            });
        });

        table.on("tool(homeworkTable)",function (obj) {
            var data = obj.data;
            var event = obj.event;
            if(event === "getFile"){
                layer.load(2, {time: 10*1000});
                setTimeout(function () {
                    location.reload();
                },5000);
            }else if(event === "reGetFile"){
            }else if(event === "detail"){
                if(data.hStatusStu==2){
                    layer.msg("已提交，作业状态正常",{icon:6});
                }
            }else if(event === "detail2"){
                layer.msg("老师未对您的作业做出评价",{icon:5,time:2000});
            }else if(event === "detail1"){
                $('#score').val(data.score);
                $('#updateComment').val(data.tRemark);
                layer.open({
                    type:1,
                    skin:"layui-layer-molv",
                    title:"作业评分",
                    anim: 1,
                    area:['350px','300px'],
                    content:$("#homeworkPop"),
                    btn:['收到'],
                    yes:function (index) {
                        layer.msg("点击评价可对本次作业进行匿名评论！",{icon:3,time:2000},function () {
                            layer.close(index);
                        });
                    }
                });
            }
        });

    });
</script>

<script type="text/html" id="buttons">
    {{#  var startTime = new Date(d.hStarttime)}}
    {{#  var endTime = new Date(d.hEndtime)}}
    {{#  var today = new Date()}}
    {{#  if(d.hStatusStu == 0){ }}
        {{# if(today > endTime){ }}
            <a href="#" class="layui-btn  layui-btn-radius layui-bg-gray" disabled>已结束</a>
        {{# }else{  }}
            <a href='/download?hId={{d.hId}}&type=0' class="layui-btn  layui-btn-radius layui-btn-sm" lay-event="getFile">领取</a>
        {{# } }}
    {{#  } else if(d.hStatusStu ==1){ }}
         <a href="/studentCommit/toPage?hId={{d.hId}}&hUper={{d.hUper}}&hName={{d.hName}}&crId={{d.crId}}&crName={{d.crName}}&hEndtime={{d.hEndtime}}" class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-blue" lay-event="sub">提交</a>
         <a href="/download?hId={{d.hId}}&type=0&again=0" class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-orange" lay-event="reGetFile">重新领取</a>
    {{#  } else if(d.hStatusStu ==2){ }}
         <a  class="layui-btn  layui-btn-radius layui-btn-sm layui-bg-red" lay-event="detail">查看</a>
        {{#  if(today < endTime && today>startTime){ }}
    <a href="/download?hId={{d.hId}}&type=0&again=0" class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-orange" lay-event="reGetFile">重新提交</a>
        {{#  }  }}
    {{#  } else if(d.hStatusStu ==3){ }}
        {{# if(d.score!=null){ }}
            <a  class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-red" lay-event="detail1">查看<span class="layui-badge-dot layui-bg-orange"></span></a>
        {{# }else{ }}
            <a  class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-red" lay-event="detail2">查看</a>
        {{# } }}
        <a href="/studentCommit/toDetail?tName={{d.tName}}&hName={{d.hName}}&crId={{d.crId}}&crName={{d.crName}}&id={{d.id}}" class="layui-btn  layui-btn-radius layui-btn-xs layui-bg-cyan" lay-event="comment">评论</a>
    {{#  }  }}

</script>
</body>
</html>