<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/jquery.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <style type="text/css">
        .center{
            margin-left: auto;
            margin-right: auto;
            margin-top: 15%;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">
    <div class="layui-layout-admin">
        <div class="layui-layout-body center" style="background-color: #C2BE9E;width: 400px;height: 300px">
            <form class="layui-form">
                <div class="layui-form center">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input  type="text" name="userId" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input layui-btn-radius">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input layui-btn-radius">
                        </div>
                        <span><a th:href="@{#}">忘记密码？</a></span>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formSubmit"  >登录</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <span>没有账号？<a th:href="@{#}">点击这里注册</a></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use('form', function(){
            var form = layui.form,
                $=layui.$;
            //监听提交
            form.on('submit(formSubmit)', function(data){
                $.ajax({
                    url:"/sys/userLogin",
                    data:data.field,
                    type:"post",
                    success:function (res) {
                        console.log(res);
                        if(res.code==200){
                            window.location="/success.html";
                        }
                        layer.msg(res.msg);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>